			<noscript>
				<div id="noscript">
			  		<div>
						No JavaScript<br/><span class="lv1">閲覧に問題はありませんが、</span><span class="lv2">表示上に問題が出る可能性があります。</span>
			  		</div>
				</div>
			</noscript>
		</main>
		<footer>
		    © 2019 <a href="//twitter.com/Y20010920T">2001Y</a> all rights reserved.
		</footer>
	</body>
	<script src="//cdn.jsdelivr.net/npm/instantclick/dist/instantclick.min.js" data-no-instant="data-no-instant"></script>
    <script data-no-instant="data-no-instant">InstantClick.init();</script>
</html>