<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta name="robots" content="noindex,nofollow,noarchive"/>
		<meta name="description" content="2001Yによるブログ形式のメディア系ブログです。" />
		<meta name="author" content="2001Y"/>
    <meta name="copyright" content="Copyright © 2019 2001Y All Rights Reserved."/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0"/>
    <meta http-equiv="expires" content="4233600"/>
    <meta name="format-detection" content="telephone=no,address=no,email=no"/>
    <meta name="msvalidate.01" content="74E89C4E770B52467F8C1A77909198FA"/>
    <meta property="article:publisher" href="https://twitter.com/Y20010920T"/>
    <meta property="article:publisher" href="https://line.me/ti/p/@ovx8986w"/>
    <meta property="article:publisher" href="https://www.youtube.com/channel/UCud0Fw7VvVtHbLlbXVi3WgQ"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="x-dns-prefetch-control" content="on"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="theme-color" content="未取得"/>
		
    <meta property="fb:admins" href="未取得"/>
		<meta property="fb:app_id" href="未取得"/>

		<meta property="twitter:account_id" content="@Y20010920T"/>
		<meta name="twitter:site" content="@Y20010920T"/>
		<meta name="twitter:card" content="summary_large_image"/>
		<meta name="twitter:title" content="未取得 | NewEpoch"/>
		<meta name="twitter:description" content='未取得'/>
		<meta name="twitter:url" content="未取得"/>
		<meta name="twitter:image" content="未取得"/>

		<meta property="og:type" content="blog"/>
		<meta property="og:type" content="article"/>
		<meta property="og:title" content="未取得 | NewEpoch"/>
		<meta property="og:description" content="未取得"/>
		<meta property="og:url" content="未取得"/>
		<meta property="og:image" content="未取得"/>

		<link rel="dns-prefetch" href="未取得"/>
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/style.css">
		<link type="application/rss+xml" rel="alternate" href="未取得"/>
		
		<link href="https://2001y.blogspot.com" rel="canonical"/>
		<title>NewEpoch</title>

		<!--[if lt IE 9]>
      <script src='//cdn.jsdelivr.net/g/html5shiv,ie7.js@2.1b4(IE9.js),respond'></script>
    <![endif]-->
	</head>
	<body ontouchstart="">
		<header>
			<h1>2001Y Blog</h1>
			<input type="checkbox" id="nav-checkbox"/>
      <label for="nav-checkbox">
        <div class="nav-icon">
          <span class="nav-border"></span>
        </div>
      </label>
      <nav>
        <ul>
          <li>
            <a href="{{ .Site.BaseURL }}">PORTFOLIO</a>
					</li>
					<li>
							<a href="{{ .Site.BaseURL }}">BLOG</a>
						</li>
          <li>
            <a href="未取得">ABOUT</a>
          </li>
        </ul>
      </nav>
		</header>
		<main>