/* === html5doctor.com Reset Stylesheet v1.6.1 Last Updated: 2010-09-17 Author: Richard Clark - http://richclarkdesign.com Twitter: @rich_clark === */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
article,aside,footer,header,menu,nav,section {
  display: block;
  border: none;
}
input,button,textarea,select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
blockquote,q {
  quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after {
  content: '';
}
a,p {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,select {
  vertical-align: middle;
}
img {
  max-width: 100%;
}

#noscript {
  font-size: 14px;
  color: white;
  text-align: center;
  background: rgba(255, 0, 0, .8);
  width: 100vw;
  height: 35px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width:651px) and (min-width:375px) {
  #noscript br {
    display: none;
  }
  .lv1:before {
    content: " - ";
  }
}
@media (max-width:650px) {
  .lv1 {
    display: none;
  }
  .lv2:before {
    content: " - ";
  }
  #noscript br {
    display: none;
  }
}
@media (max-width:375px) {
  .lv2:before {
    content: "";
  }
  #noscript br {
    display: inline;
  }
}